<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Contact</title>
  <link rel="stylesheet" th:href="@{/Style.css}">
</head>
<body>
<header>
  <nav>
    <ul class="nav_links">
      <li><a href="/code/new"> New Code </a></li>
      <li><a href="/code/latest"> Latest Codes </a></li>
      <li><a href="/code/secretcode"> Secret Code </a></li>
    </ul>
  </nav>
  <a href="#" class="contact">
    <button>Contact</button>
  </a>
</header>
<div id="intro">
  <h1>Code sharing platform</h1>
  <p id="description"> Hi! My name is Alex. I'm a beginner Java developer.
    I'm always open to communication and new challenges!<br>
    Please contact me:</p>
  <br>
</div>
<div id="contact_me">
  <p class="contacts">
    <a id="contact_github" href="https://github.com/vaskabidze"> Github </a>
  </p>
  <br>
  <p class="contacts">
    <a id="contact_telegram" href="https://telegram.me/vaskabidze"> Telegram </a>
  </p>
  <br>
  <p class="contacts">
    <a id="contact_instagram" href="https://instagram.com/vaskabidze"> Instagram </a>
  </p>
</div>
</body>
</html>
