<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Secret</title>
    <link rel="stylesheet" th:href="@{/Style.css}">
    <script src="/Script.js"></script>
</head>
<body>
<header>
    <nav>
        <ul class="nav_links">
            <li><a href="/code/new"> New Code </a></li>
            <li><a href="/code/latest"> Latest Codes </a></li>
            <li><a href="/code/secretcode"> Secret Code </a></li>
        </ul>
    </nav>
    <a href="/code/contact" class="contact">
        <button>Contact</button>
    </a>
</header>
<div id="intro">
    <h1>Code sharing platform</h1>
    <p id="description"> Enter the UUID of the secret code </p>
</div>
<div id="uuid_block">
    <br>
    <form id="uuid_form" action="/code/test" method="GET">
        <input id="redirect" name="name">
    </form>
    <button id="uuid_button" type="submit" onclick="goToPage()">Submit</button>
    <br>
</div>
</body>
</html>
